@charset "utf-8";
/* CSS Document */
/* */
#rahmen{
  width: 50px;
  border: 3px solid red;
}
  
#bild{
    display: block;
    width: 100%;


}
#hintergrund{
    width: 1000px;
    height: 300px;
    background-image: url("../img/streetart.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

